header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-bottom: 20px;
}

header span {
    color: #007bff;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 88vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input {
    margin: 10px 0 10px 0;
}

form > button {
    display: flex;
    width: 70%;
    margin: 0 0 5px 0;
}

form .row {
    width: 29vw;
    justify-content: end;
    margin: 0 0 15px 0;
}

.google p {
    margin: 0;
}

.title {
	display: flex;
	margin-top: 18px;
    width: 200px;
}

.title i {
	font-size: 200%;
	margin: 0 10px 0 0;
}

.subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .card {
    padding: 30px;
}

.form-select > button {
    width: 49%;
}

.btn {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    cursor: pointer;
}

main ul {
    display: flex;
    list-style: none;
    padding: 0;
}

main ul li {
    margin: 5px;
}

li a {
    color: #6c757d;
}
